
/* Author: Robert hudson
    Class: IS 490
    Project: Childrens learning website
    Date: 4/11/18
   games.css
*/



body{
        background: url("background.jpg") no-repeat center center fixed;
        background-size: cover; /*  or 100px; */
       
        }

.content{
             max-width: 1000px;
            margin: auto;
            text-align: center;
            }

.contentInst
{
    max-width:1000px;
            margin: auto;
            text-align: center;
    font-size: 25px;
    font-family: "Arial";
            }


.triesImage {
    
  max-width:50px;
  max-height:15px;
  width: auto;
  height: auto;
}


/* for hangman image resize */

img {
  
  max-width:600px;
  max-height:300px;
  width: auto;
  height: auto;
}



/* for buttons to look better*/
.buttons {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


/* for footer */
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
}


/* for messages */
.message {
    font-family: "Arial";
            font-size:50px;
            margin-top: 0;
            margin-bottom: .5em;
    
}


/*for textareas  for numbers*/

.numbers  
{  
   font-family:"Arial";  
   font-size: 100px;
    width: 120px     
}


.letters{
    
    font-family:"Arial";  
   font-size: 100px;
    width: 80px;
    margin: auto;
       
    
}

/* to align the entry box and buttons for animal game */
.entry {
    width: 25%; 
    margin:auto; 
    text-align: center;
}

@media(max-width:775px){
    
   .entry {
    width: 50%; 
    
} 
}







/* for sentences */

#simple{
            font-family: "Arial";
            font-size:100px;
            margin-top: 0;
            margin-bottom: .5em;
        }

#silly{
            font-family: "Arial";
            font-size:100px;
            margin-top: 0;
            margin-bottom: .5em;
        }








/*    for sight words placement */
    #next{
            float:left;
            
        }

        #nope{
            float:right;
        }
        
        #word{
            font-family: "Arial";
            font-size:100px;
            margin-top: 0;
            margin-bottom: .5em;
            word-break:normal;
        }
        #correct{
            height: 70px;
            width: 70px;
        }
        #wrong{
            height: 70px;
            width: 70px;
        }


/* for simple math */
.problem{
    font-family: "Arial";
    font-size: 100px;
}






/* for nav */
/* Style the links inside the sidenav */
#mySidenav a {
    position: absolute; /* Position them relative to the browser window */
    left: -170px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 10px; /* 15px padding */
    width: 200px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 40px; /* Increase font size */
    color: black; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
    /* for thin black border around each tab */
    border-style: solid;
}

#mySidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The home link: 20px from the top with a green background */
 #home {
    top: 20px;
    background-color: #FF0000;
}


#addsub {
    top: 130px;
    background-color: #FF7F00; 
}

#reverse {
    top: 240px;
    background-color:  #FFFF00; 
}

#sightWords {
    top: 350px;
background-color: #00FF00; 

}

#hangman {
    top: 460px;

    background-color: #0000FF; 

}

#sentences {
    top: 570px;

    background-color: #4B0082; 

}

/*for icons for naviagation menun */
.navIcon {
    
    max-width:750px;
  max-height:75px;
  width: auto;
  height: auto;
    
}



/* for animation when the menu loads in the beginning */
/* make keyframes that tell the start state and the end state of our object */
 
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
 opacity:0;  /* make things invisible upon start */
 -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
 -moz-animation:fadeIn ease-in 1;
 animation:fadeIn ease-in 1;
 
 -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
 -moz-animation-fill-mode:forwards;
 animation-fill-mode:forwards;
 
 -webkit-animation-duration:.7s;
 -moz-animation-duration:.7s;
 animation-duration:.7s;
}
 /* red */
.fade-in.one {
-webkit-animation-delay: 0.5s;
-moz-animation-delay: 0.5s;
animation-delay: 0.5s;
}

 /* orange */
.fade-in.two {
-webkit-animation-delay: 1s;
-moz-animation-delay:1s;
animation-delay: 1s;
}

 /* yellow */
.fade-in.three {
-webkit-animation-delay: 1.5s;
-moz-animation-delay: 1.5s;
animation-delay: 1.5s;
}

/* green */
.fade-in.four {
-webkit-animation-delay: 2s;
-moz-animation-delay: 2s;
animation-delay: 2s;
}

/* blue */
.fade-in.five {
-webkit-animation-delay: 2.5s;
-moz-animation-delay: 2.5s;
animation-delay: 2.5s;
}

/* purple */
.fade-in.six {
-webkit-animation-delay: 3s;
-moz-animation-delay: 3s;
animation-delay: 3s;
}








/*to turn off number spinners on input boxes */

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}



/*for rainbow color change on colored on index page */
.rainbow {
   /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 3s infinite; 
  
  /* Internet Explorer */
  -ms-animation: rainbow 3s infinite;
  
  /* Standar Syntax */
  animation: rainbow 3s infinite; 
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}	
}
/* Internet Explorer */
@-ms-keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}	
}

/* Standar Syntax */
@keyframes rainbow{
	5%{color: red;}
	35%{color: yellow;}
	65%{color: green;}
	85%{color: blue;}
	0%{color: orange;}	
}




 

 
 


